.input-box {
    background-color: white;
    border-radius: 6px;
}

.result-box {
    background-color: lightblue;
    color: darkblue;
    border-radius: 6px;
    padding: 0.5em;
}

.display-box {
    margin-top: 10px;
}

.display-box-top {
    float: left;
    color: white;
    text-align: center;
    background-color: #005193;
    width: 24%;
    height: 60px;
    margin-right: 1px;
    font-size: 10px;
}

.display-box-bottom {
    position: relative;
    float: left;
    background-image: linear-gradient(#005193, #6CCCE7);
    width: 24%;
    height: 180px;
    margin-right: 1px;
}

.low-cloud {
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.medium-cloud {
    position: absolute;
    bottom: 40%;
    width: 100%;
}

.high-cloud {
    position: absolute;
    bottom: 60%;
    width: 100%;
}

.top-box-result {
    font-size: 18px;
}